html {

    background:url(https://bit.ly/2oQXtOH) no-repeat center center/cover;
    height:300px;
    padding-top:5px;
}
.navigation {
    display: flex;
    align-items: center;
    background-color:black;
    opacity:0.8;
    padding-left: 30px;
    padding-top:0px;
    height:300px;
    color:white;
    font-family:palatino;
    font-size:46px;
    position: static;
    
}
nav > ul > li {
    display: inline;
    padding-left:20px;
}
nav {
    margin-left:650px;
    font-size:36px;
}
li a {
    color:#38738B;
    text-decoration: none;
}
li a:hover {
    background-color: dimgray;
}
h3 {
    display:float;
    float:left;
    margin-top:150px;
    margin-bottom: 300px;
    color:brown;
    font-size:70px;
    font-family:georgia;
    font-style:italic;
}
.leadership {
    margin-top:500px;
}
#approach > ul > li {
    font-size:22px;
    padding-right:30px;
}
#purpose > ul > li {
    font-size:20px;
    padding-right:30px;
}
#core > ul > li {
    font-size:22px;
    padding-right:30px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#5C6D59;
    height:200px;
}
.bottom {
    background-color: dimgrey;
    display: flex;
    justify-content: center;
}
